body {
    background-color: green;
}

/* NAVBAR */
.navbar {
    background-color: #555555;
    padding: 15px;
    border-radius: 15px;

    display: flex;
    align-items: center;
    gap: 20px;

    flex-wrap: wrap; /* responsivo */
}

.navbar p {
    color: white;
    font-size: 20px;
    margin: 0;
}

.navbar a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.navbar a:hover {
    color: #00ff37;
}

/* LOGO */
.logo {
    margin-left: auto;

    display: flex;
    align-items: center;
    gap: 15px;

    font-size: 25px;
    font-weight: bold;
    color: #00ff37;
}

/* FORMULÁRIO */
.formulario {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 10px;
}

.formulario form {
    background-color: #555555;
    padding: 20px;
    border-radius: 15px;

    width: 100%;
    max-width: 650px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* INPUTS */
.formulario input {
    padding: 12px;
    border-radius: 8px;
    border: 2px solid transparent;

    font-size: 16px;
    outline: none;

    transition: 0.3s;
}

.formulario input:hover {
    border: 2px solid #00ff37;
}

.formulario input:focus {
    border: 2px solid #00ff37;
}

/* BOTÃO */
button {
    background-color: #00ff37;
    color: black;

    padding: 12px;

    border: none;
    border-radius: 10px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    background-color: #00cc2d;
    color: black;
}

/* RESPONSIVIDADE */
@media (max-width: 600px) {

    .navbar {
        justify-content: center;
    }

    .logo {
        margin-left: 0;
        width: 100%;
        justify-content: center;
    }

    .formulario form {
        width: 100%;
    }

    .navbar a,
    .navbar p {
        font-size: 18px;
    }

    .logo {
        font-size: 22px;
    }
}
